extends layout
block content
  div.About
    div.section.aboutpage__banner
      .container
        .row
          .col.s12.m9
            h1.header About
            h4.light.red-text.center-on-small-only  Learn about [timer name here] and our Project Team.
    div.aboutpage__main.container
      div.container__product.about-product.section
        h2.about-product__header [timer name here]
        p.about-product__caption  The study time tracker allows you maximize your time of study flow. This tracker helps you to organize the time subject by subject. With the feature of countdown clock, this enables you to track your time while you are studying, so you will never forget to study other subjects. Also, you are allowed to save your schedule with your signed in account. You will never have to worry about losing your schedule.
        div.row.section.about-product__demo-table
          h3.header.light Features
          div.col.s12.l4
            img.promo(src="http://materializecss.com/images/motion.png")
            h4.center [some text here]
            p.light The study time tracker allows you maximize your time of study flow. This tracker helps you to organize the time subject by subject. With the feature of countdown clock, this enables you to track your time while you are studying, so you will never forget to study other subjects. Also, you are allowed to save your schedule with your signed in account. You will never have to worry about losing your schedule.
          div.col.s12.l4
            img.promo(src="http://materializecss.com/images/motion.png")
            h4.center [some text here]
            p.light The study time tracker allows you maximize your time of study flow. This tracker helps you to organize the time subject by subject. With the feature of countdown clock, this enables you to track your time while you are studying, so you will never forget to study other subjects. Also, you are allowed to save your schedule with your signed in account. You will never have to worry about losing your schedule.
          div.col.s12.l4
            img.promo(src="http://materializecss.com/images/motion.png")
            h4.center [some text here]
            p.light The study time tracker allows you maximize your time of study flow. This tracker helps you to organize the time subject by subject. With the feature of countdown clock, this enables you to track your time while you are studying, so you will never forget to study other subjects. Also, you are allowed to save your schedule with your signed in account. You will never have to worry about losing your schedule.
      .divider
      div.container__team.about-team.section
        h2 Meet the team
        div.row
        div.row
        div.row
        div.row
        div.row
        div.row
      .divider
      div.container__registration.section
        p register <a href="/register">here</a>






  
        
