nav(class=`${title}__navbar ${title == 'login' ? "" :"light-blue.lighten-1"}`)
    .nav-wrapper
        a.brand-logo.right(href='/') The Timer
        ul#nav-mobile.left.hide-on-med-and-down
            li
                a(href='/app') Now Studying
            li
                a(href='/profile') Profile
