
/***************for /login route ******************/
.register__footer,
.register__navbar,
.footer-copyright{
    background-color: transparent;
}

.Register{
    color: #fff;
     
    .Register__title{
        margin: 10rem auto 4rem;
        width: 70rem;
        text-align: center;
        font-size: 4.8rem;
        line-height: 6.8rem;
    }
     
     .Register__form {
        width: 42.5rem;
        margin: 0 auto;
        padding: 0;
        display: block;

         
        .Register__form__register, 
        .Register__form__row{
            padding-bottom:.2rem;
            text-align: center;
            position: relative;
        }
        
        .Register__form__subtitle{
            text-align: center;
        }
     
        .Register__form__row__input {
            margin: 0;
            box-shadow: none;
            border: 0;
            width: 12.6rem;
            height: 3.4rem;
            padding: 0 4.8rem 0 1.6rem;
            overflow: hidden;
            background-color: rgb(250, 255, 189);
            background-image: none;
            color: rgb(0, 0, 0);
        }
        
        .Register__form__row__button {
            vertical-align: middle;
            background-color: #224099;
            width: 18.6rem;
            height: 3.4rem;
            padding: 0;
            border: 0;
            border-radius: .2rem;
            box-shadow: none;
            display: inline-block;
            text-decoration: none;
            margin-top: .8rem;
        }
    }
     
     a {
         color: #fff;
         text-decoration: underline;
     }
     
}
